<% projects = blog.articles %>

<section id="contents" class="layer-2<% if locals[:inactive] %> inactive<% end %>">
  <div class="border"></div>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/"><%= data.site.title %></a>
      </h1>
    </header>

    <ul class="index">
      <% blog.tags.sort_by{|term, items| items.length}.reverse.each do |term, items| %>
        <li class="term">
          <a href><%= term.split.map(&:capitalize)*' ' %></a>
          <ul class="term-items">
            <% items.each_with_index do |item, index| %>
              <li>
                <a href="<%= item.url %>">
                  <% if item.data.image %>
                    <span class="link-thumbnail"><img src="<%= item.data.image %>" alt="<%= item.title %>"></span>
                  <% end %>
                  <span class="link-title"><%= item.title %></span>
                </a>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
    <div id="rhizome"></div>
    <div class="search">
      <input id="search" placeholder="Search for..." type="text">
      <div class="search-results"></div>
    </div>
    <div id="timeline"></div>
    <div class="popover"></div>
  </div>
</section>

<script>
  var now = moment().minutes(0).seconds(0).milliseconds(0);
  var itemCount = 20;

  // create a data set with groups
  // var names = ['John', 'Alston', 'Lee', 'Grant'];
  var names = <%= blog.tags.keys %>;
  var groupCount = names.length;
  var groups = new vis.DataSet();
  for (var g = 0; g < groupCount; g++) {
    groups.add({id: g, content: names[g], color: '#ffffff'});
  }

  var groupArray = [
    <% blog.tags.keys.each_with_index do |tag, index| %>
    {
      group: <%= index %>,
      tagName: '<%= tag.downcase %>'
    },
    <% end %>
  ]

  // create a dataset with items
  var items = new vis.DataSet([
    <% blog.articles.each_with_index do |item, index| %>
    {
      id: <%= index %>,
      group: <%= blog.tags.keys.index(item.tags.first) %>,
      content: '<a href="<%= item.url %>"><% if item.data.image %><img src="<%= item.data.image %>" alt="<%= item.title %>"></span><% end %><%= item.title %></a>',
      start: '<%= item.date.strftime('%Y-%m-%d') %>',
      label: '<%= item.title %>',
      shape: 'box',
      color: {
        background: "#ffffff"
      },
    },
    <% end %>
  ]);

  // create visualization
  var container = document.getElementById('timeline');
  var options = {
    groupOrder: 'content',  // groupOrder can be a property name or a sorting function
    zoomMax: 2592000000,
    zoomMin: 345600000,
  };

  var timeline = new vis.Timeline(container);
  timeline.setOptions(options);
  timeline.setGroups(groups);
  timeline.setItems(items);

</script>

<script type="text/javascript">
  var nodes = new vis.DataSet([
    <% blog.articles.each_with_index do |item, index| %>
      <% secondsSincePublished = ((Time.now - item.date) * 24 * 60 * 60).to_f %>
      <% start1 = 0 %>
      <% stop1 = ((Time.now - blog.articles.last.date) * 24 * 60 * 60).to_f %>
      <% start2 = 0.2 %>
      <% stop2 = 1 %>
      <% dateOpacity = (secondsSincePublished - start1) * (stop2 - start2) / (stop1 - start1) + start2 %>

      <% articleDate = item.date %>
      {
        id: <%= index %>,
        label: '<%= item.title %>',
        href: '<%= item.url %>',
        color: {
          background: 'rgba(255,255,255,' + <%= dateOpacity %>
        },
        font: {
          face: 'signo'
        },
        <% if item.data.image %>
        shape: 'image',
        image: 'https://body-without-organs.netlify.com/<%= item.data.image %>',
        font: {
          color: '#ffffff',
          face: 'signo'
        },
        color: {
          background: 'rgba(255,255,255,' + <%= dateOpacity %>
        },
        <% end %>
        shapeProperties: {
          borderRadius: 0,     // only for box shape
        },
        clickToUse: true,
        barnesHut: {
          springLength: 600,
        },
        solver: 'barnesHut',
      },
    <% end %>
  ]);

  var edges = new vis.DataSet([
    <% rhizomeEdgesArray.each_with_index do |item, index| %>
      {
        from: <%= item[0] %>,
        to: <%= item[1] %>
      },
    <% end %>
    <% rhizomeEdgesArray.each_with_index do |item, index| %>
      {
        from: <%= item[0] %>,
        to: <%= item[1] %>
      },
    <% end %>
  ]);

  // create a network
  var container = document.getElementById('rhizome');

  // provide the data in the vis format
  var data = {
    nodes: nodes,
    edges: edges
  };
  var options = {
    height: '400px',
    nodes: {
      shape: 'box',
      color: {
        border: '#000000',
        background: '#ffffff',
        highlight: {
          border: '#000000',
          background: '#ffffff'
        },
        hover: {
          border: '#000000',
          background: '#ffffff'
        }
      },
    },
    edges: {
      color: {
        color:'#ffffff',
        highlight:'#ffffff',
        hover: '#ffffff',
        inherit: 'from',
      }
    }
  };

  // initialize your network!
  var network = new vis.Network(container, data, options);

  network.on('click', function (properties) {
    var nodeID = properties.nodes[0];
    var clickedNode = this.body.nodes[nodeID];
    if (nodeID) {
      window.location.href = clickedNode.options.href;
    }
  });
</script>
